input.error{
    border: 1px solid #a10;
}
.error{
    color: #a10;
}
/*p.error{
    display: none;
}*/
.wrapper{
    width: 200px;
    margin: 30px auto;
}
p.input_result{
    position: relative;
    top: -28px;
    left: 180px;
}
p.success{
    color: #3c763d;
}